@media (max-width: 500px) {
  .header-nav {
    display: none;
  }
  .meniu-icon {
    display: block;
  }
  .main-content {
    flex-direction: column-reverse;
  }
  .conteiner {
    padding: 0px 18px;
  }
  .logo {
    width: 100px;
  }
  .cross-img {
    width: 300px;
  }
  .text-section {
    text-align: center;
  }
  .text-section h1 {
    font-family: Heebo;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #21243d;
  }
  .text-section p {
    color: #21243d;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
  }
  .download-btn {
    width: 208px;
    height: 47px;
    background-color: #ff6464;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29.38px;
  }
  .blogs {
    display: flex;
    flex-direction: column;
    margin-bottom: 134px;
  }
  .conteiner-posts,
  .header-content {
    display: flex;
    flex-direction: column;
  }

  .posts {
    width: 105px;
    height: 60px;
    color: #21243d;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
  }
  .view {
    display: none;
  }

  .blog-cards {
    width: 345px;
    padding: 12px 21px;
    background-color: #fff;
  }
  .blog-cards h2 {
    color: #21243d;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }
  .amlet {
    color: #21243d;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
  }

  .works-section,
  .tow-div {
    display: flex;
    flex-direction: column;
  }
  .works-section {
    width: 344px;
    margin: auto;
  }
  .works-div h3 {
    width: 124px;
    color: #21243d;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
  }
  .tow-div img {
    width: 339px;
    height: 230px;
    padding: 2px 0px 18px 0px;
  }
  .text-view h2 {
    color: #21243d;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .number {
    background-color: #142850;
    color: #fff;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dash {
    color: #8695a4;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    opacity: 0.8;
  }
  .amlet-box {
    width: 340px;
    width: 100%;
    height: 93px;
    color: #21243d;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
  }
}
